/* Document Content */

/*
1. Custom Reset
2. Fonts import
3. Base/Default Font Presets
4. Utilities
*/

/* 1. Custom Reset */
* {
    margin: 0;
    padding: 0;
}
/* **************************** */

/* 2. Importing fonts */
@font-face {
    font-family: "scriptina-pro";
    src: url("fonts/Scriptina_Pro-webfont.woff") format("woff"); 
}
@font-face {
    font-family: "poiret-one";
    src: url("fonts/poiret-one.ttf") format("truetype");
}
/* **************************** */

/* 3. Base/Default Font Presets */
html {
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

h1 {
    font-size: 3em;
    font-family: "poiret-one";
}
h2 {
    font-size: 2.6em;
    font-family: "poiret-one";
}
h3 {
    font-size: 2.2em;
    font-family: "poiret-one";
}
h4 {
    font-size: 1.8em;
    font-family: "poiret-one";
}
h5 {
    font-size: 1.4em;
    font-family: "poiret-one";
}
h6 {
    font-size: 1em;
    font-family: "poiret-one";
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}
/* ************************* */

/* 4. Utilities */

/* Margin/Padding Utility Classes */
.mt-1 {
    margin-top: 1em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mr-1 {
    margin-right: 1em;
}
.ml-1 {
    margin-left: 1em;
}
.mx-1 {
    margin-left: 1em;
    margin-right: 1em;
}
.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.p-05 {
    padding: 0.5em;
}
.pt-05 {
    padding-top: 0.5em;
}
.pb-05 {
    padding-bottom: 0.5em;
}
.pr-05 {
    padding-right: 0.5em;
}
.pl-05 {
    padding-left: 0.5em;
}
.px-05 {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.py-05 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.p-1 {
    padding: 1em;
}
.pt-1 {
    padding-top: 1em;
}
.pb-1 {
    padding-bottom: 1em;
}
.pr-1 {
    padding-right: 1em;
}
.pl-1 {
    padding-left: 1em;
}
.px-1 {
    padding-left: 1em;
    padding-right: 1em;
}
.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}
/* Margin/Padding Utility Classes Ends */

html {
    height: 100%;
}

body {
    background: #f8c07b;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 6em;
    background: #f8c07b;
}

nav a {
    padding: 0 0.5em;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    margin-top: 6em;
    height: 60vh;
}
.hero img {
    /* object-position: center center; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main {
    text-align: center;
    max-width: 80%;
}

main p {
    font-style: italic;
}

footer {
    text-align: center;
}
